#biography{
    width: 80%;
    margin: 0 auto;
    margin-block: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

#biography p{
    font-size: var(--fs-xl);
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px darkgrey;
}

#biography a{
    color: blue;
}

.biography-text{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 50px;
}

.personal-life{
    margin-top: 40px;
    padding: 10px;
    text-align: center;
}

.personal-life-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.personal-life-container>img{
    border-radius: 8px;
}

.personal-life h3{
    font-size: calc(var(--fs-xl) + 5px);
    text-align: center;
}

@media(max-width: 1024px)
{
    .biography-text{
        flex-direction: column;
    }
}

.biography-text img{
    width: auto;
    border-radius: 10px;
}
