#netValue>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.pickaxe-img{
    width: 400px;
}

.net-worth-container{
    display: flex;
    flex-direction: row;
}

.net-worth-container>img{
    width: 70px;
}

.net-worth{
    display: block;
    font-size: calc(var(--fs-xl) + 10px);
}

.last-update{
    font-style: italic;
    color: grey;
    display: block;
}

.bmw-container{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.mpower-logo, .bmw-logo{
    width: 150px; 
}

.img-grid{

}